.hero, footer, header {
    background-color: #1F2937;
    color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}
h4, .link {
    font-size: 18px;
    color: #E5E7EB; 
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 10px;
}

.button, .action {
    background-color: #3882F6;
    
}
.info.p {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

img {
    width: 300px;
    height: 250px;
}


footer {
    text-align: center;
    font-family: 'Arial', 'Helvetica', sans-serif
    margin: 0;
    padding: 2px;
}

header {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: black;
    padding: 2px;
}

.link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px;
}

a {
    border: 1px;
    margin: 5px; 
}

.hero h1, h4 {
    max-width: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
    align-items: center;
}

.hero button {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    max-width: 150px;
    margin-left: 300px;
}

.button, .button2 {
    background-color: #3882F6;
    font-size: 30px;
    font-family: 'Arial Narrow', 'Helvetica', sans-serif;
    text-align: center;
    padding: 12px;
    margin: 4px 2px;
    border-radius: 16px;
}

.mamo {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
    align-items: center;
    flex-direction: column;
}