.hero, footer, header {
    background-color: #1F2937;
    color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
}

h4 {
    max-width: 400px;
    word-wrap: wrap;
    text-align: center;
    display:
}
h4, .link {
    font-size: 18px;
    color: #E5E7EB; 
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 10px;
}

.button, .action {
    background-color: #3882F6;
    
}
.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    margin: 100px;
}

img {
    width: 400px;
    height: 340px;
}


footer {
    text-align: center;
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding: 2px;
}

header {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: black;
    padding: 2px;
}

.link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px;
}

a {
    border: 1px;
    margin: 5px; 
}

.hero h1, h4 {
    height: auto;
    flex-wrap: wrap;
    padding-left: 200px;
    align-items: center;
}

.hero button {
    justify-content: center;
    flex: 1 1 auto;
    max-width: 150px;
    margin-left: 300px;
}

.button, .button2 {
    background-color: #3882F6;
    font-size: 30px;
    font-family: 'Arial Narrow', 'Helvetica', sans-serif;
    text-align: center;
    padding: 12px;
    margin: 4px 2px;
    border-radius: 16px;
}

.hero img {
    justify-content: flex-start;
    align-items: center;
    margin-left: 165px;
}

.text1 {
    text-align: center;
    word-wrap: wrap;
    max-width: 400px;
}

.hero {
    display: flex;
    flex-direction: column;
}


.weavile {
    display: flex;
}

.weavile img {
    max-width: 240px;
    max-height: 180px;
    margin: 50px;
    margin-left: 120px;
}

.goodra {
    display: flex;
    margin-right: 320px;
    margin-left: -40px;
    margin-top: -30px;
}

.goodra h4 {
    max-height: 180px;
    margin-left: 0;
    color: black;
    word-wrap: wrap;
    text-align: center;
    align-items: center;
    font-weight: 500;
}

.action {
    padding: 12px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.action button {
    margin-top: -50px;
    color: whitesmoke;
    background-color: darkgray;
}

.info {
    display: flex;
    flex-direction: column;
}

.mamo {
    margin-right: 100px;
    margin-top: 50px;
}

.shakespeare {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}